<ion-header class="main-header">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-menu-button auto-hide="true" ></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" class="search-panel header-btn" [ngClass]="{ 'active': showSearch == true}">
      <input class="search-box" type="search">
      <button mat-button (click)="showSearchBox(showSearch)">
        <mat-icon *ngIf="!showSearch">search</mat-icon>
        <mat-icon *ngIf="showSearch">close</mat-icon>
      </button>
    </ion-buttons>
    <ion-buttons slot="end" class="notification-panel header-btn">
      <button matBadge="8" matBadgePosition="before" mat-button [matMenuTriggerFor]="notification">
        <mat-icon>notifications_none</mat-icon>
      </button>
      <mat-menu #notification="matMenu" xPosition="before" backdropClass="matMenuDropdown">
        <div class="notification-box">
          <div class="notification-list">
            <div class="notification-item">
              <div class="notification-item-offset">9:25</div>
              <div class="notification-item-content">
                <div class="notification-item-icon"></div>
                <p class="notification-heading">1991</p>
                <p class="notification-content">
                  The World Wide Web goes live with its first web page. 
                </p>
              </div>
            </div>
            <div class="notification-item">
              <div class="notification-item-offset">9:25</div>
              <div class="notification-item-content">
                <div class="notification-item-icon"></div>
                <p class="notification-heading">1991</p>
                <p class="notification-content">
                  The World Wide Web goes live with its first web page. 
                </p>
                <div class="notification-multiAvater">
                  <div class="avater-icon-wrapper">
                    <div class="avater-icon">
                      <img src="assets/images/avatar1.jpg">
                    </div>
                  </div>
                  <div class="avater-icon-wrapper">
                    <div class="avater-icon">
                      <img src="assets/images/avatar2.jpg">
                    </div>
                  </div>
                  <div class="avater-icon-wrapper">
                    <div class="avater-icon">
                      <img src="assets/images/avatar3.jpg">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="notification-item">
              <div class="notification-item-offset">9:25</div>
              <div class="notification-item-content">
                <div class="notification-item-icon"></div>
                <p class="notification-heading">1991</p>
                <p class="notification-content">
                  The World Wide Web goes live with its first web page. 
                </p>
                <div class="notification-img">
                  <div class="notification-img-item">
                    <img src="assets/images/people-1.jpg">
                  </div>
                  <div class="notification-img-item">
                    <img src="assets/images/people-3.jpg">
                  </div>
                </div>
              </div>
            </div>
            <div class="notification-item">
              <div class="notification-item-offset">9:25</div>
              <div class="notification-item-content">
                <div class="notification-item-icon"></div>
                <p class="notification-heading">1991</p>
                <p class="notification-content">
                  The World Wide Web goes live with its first web page. 
                </p>
              </div>
            </div>
          </div>
        </div>
      </mat-menu>
    </ion-buttons>
    <ion-buttons slot="end">
      <div class="profile-box">
        <button mat-button [matMenuTriggerFor]="profile">
          <ion-item>
            <ion-avatar slot="start">
              <img src="assets/images/people-1.jpg">
            </ion-avatar>
            <ion-label>
              <h2 class="userName">Subhajit</h2>
              <h3 class="userRole">Super admin</h3>
            </ion-label>
          </ion-item>
        </button>
        <mat-menu #profile="matMenu" xPosition="before" backdropClass="matMenuDropdown">
          <ul class="dropdown-box">
            <li class="box-item profile-option">
              <ul>
                <li class="option-header">
                  <p>Profile options</p>
                </li>
                <li><ion-label>My Account</ion-label></li>
                <li><ion-label>Profile settings</ion-label></li>
                <li><ion-label>Active tasks</ion-label></li>
              </ul>
            </li>
            <li class="box-item">
                <div class="revenue-box">
                  <div class="revenue-icon">
                    <ion-icon name="bar-chart-outline"></ion-icon>
                  </div>
                  <div class="revenue-content">
                    <b>$9,693</b>
                    <span>revenue</span>
                  </div>
                </div>
            </li>
            <li class="box-item">
              <div class="social-icons">
                <button class="facebook" mat-button>
                  <ion-icon name="logo-facebook"></ion-icon>
                </button>
                <button class="dribbble" mat-button>
                  <ion-icon name="logo-dribbble"></ion-icon>
                </button>
                <button class="twitter" mat-button>
                  <ion-icon name="logo-twitter"></ion-icon>
                </button>
              </div>
            </li>
          </ul>
        </mat-menu>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>