<!-- common header show -->
<common-header></common-header>

<ion-content>
  <div class="page-body">
    <div class="page-wrapper">
      <div class="form-layout">
        <div class="card-outer">
          <div class="card card-box">
              <div class="card-header">
                  <div class="card-header-tittle">
                      User Add
                  </div>
                  <div class="card-header-action">
                  </div>
              </div>
              <div class="card-body">
                <div class="form-wrapper">
                  <ion-grid>
                    <ion-row>
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <ion-label>First Name</ion-label>
                          <ion-input name="name"></ion-input>
                        </div>
                      </ion-col>
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <ion-label>Last Name</ion-label>
                          <ion-input name="name"></ion-input>
                        </div>
                      </ion-col>
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <ion-label>Role</ion-label>
                          <ng-select #select [items]="cities" [searchable]="false" [(ngModel)]="selectedCity" bindLabel="name" bindValue="name">
                            <ng-template ng-header-tmp>
                                <input style="width: 100%; line-height: 24px" type="text" (input)="select.filter($event.target.value)"/>
                            </ng-template>
                          </ng-select>
                        </div>
                      </ion-col>
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <ion-label>User Name</ion-label>
                          <ion-input name="name"></ion-input>
                        </div>
                      </ion-col>
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <ion-label>Password</ion-label>
                          <ion-input name="name"></ion-input>
                        </div>
                      </ion-col>
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <ion-label>Email</ion-label>
                          <ion-input name="name"></ion-input>
                        </div>
                      </ion-col>
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <ion-label>Contact Number</ion-label>
                          <ion-input name="name"></ion-input>
                        </div>
                      </ion-col>
                      <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                        <div class="form-item">
                          <ion-label>Remarks</ion-label>
                          <ion-input name="name"></ion-input>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>
              <div class="card-footer">
                  <div>
                      <button class="border-btn danger btn-md" style="margin-right: 10px;" mat-stroked-button>Cancel</button>
                      <button class="fill-btn btn-md" mat-stroked-button>Save</button>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<!-- common footer show -->
<common-footer></common-footer>