<ion-app>
  <ion-split-pane contentId="main-content" [ngClass]="{ 'toggle-menu': toggle == true}">
    <ion-menu contentId="main-content" type="overlay" class="main-side-menu">
      <ion-header>
        <ion-toolbar >
          <ion-title>
            <div class="header_logo">
              <img class="logo-1stpart" src="assets/images/favIcon.png" alt="logo">
              <span class="site-name">
                <img src="assets/images/logo_2nd.png" alt="logo">
              </span>
              <mat-icon (click)="toggleMenu(toggle)">double_arrow</mat-icon>
            </div>
          </ion-title>
          
        </ion-toolbar>
        <mat-icon class="toggle-btn" (click)="toggleMenu(toggle)">menu_open</mat-icon>
      </ion-header>
      <ion-content class="menu-list-box">
        <mat-accordion>
          <!-- Multiple menu start -->
          <mat-expansion-panel class="noSubMenu" #example routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/','dashboard']">
            <mat-expansion-panel-header class="mat-header-bg" [class.active-parent] = "example.expanded">
              <mat-panel-title>
                <mat-icon>dashboard</mat-icon>
                Dashboard 
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <!-- Multiple menu end -->

          <mat-expansion-panel  #example routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-expansion-panel-header class="mat-header-bg" [class.active-parent] = "example.expanded">
              <mat-panel-title>
                <mat-icon>timelapse</mat-icon>
                Session
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-list>
              <ion-menu-toggle auto-hide="false">
                <ion-item class="sub-item" [routerLink]="['/','dashboard']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    List Session 
                  </ion-label>
                </ion-item>
                <ion-item class="sub-item" [routerLink]="['/','auth']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    Add Session 
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>

          </mat-expansion-panel>
          <mat-expansion-panel  #example routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-expansion-panel-header class="mat-header-bg" [class.active-parent] = "example.expanded">
              <mat-panel-title>
                <mat-icon>people</mat-icon>
                Batch
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-list>
              <ion-menu-toggle auto-hide="false">
                <ion-item class="sub-item" [routerLink]="['/','dashboard']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    Batch List 
                  </ion-label>
                </ion-item>
                <ion-item class="sub-item" [routerLink]="['/','auth']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    Add Batch 
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>

          </mat-expansion-panel>
          <mat-expansion-panel  #example routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-expansion-panel-header class="mat-header-bg" [class.active-parent] = "example.expanded">
              <mat-panel-title>
                <mat-icon>person</mat-icon>
                Student
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-list>
              <ion-menu-toggle auto-hide="false">
                <ion-item class="sub-item" [routerLink]="['/','dashboard']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    Student List 
                  </ion-label>
                </ion-item>
                <ion-item class="sub-item" [routerLink]="['/','auth']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    Add Student 
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>

          </mat-expansion-panel>
          <mat-expansion-panel  #example routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-expansion-panel-header class="mat-header-bg" [class.active-parent] = "example.expanded">
              <mat-panel-title>
                <mat-icon>menu_book</mat-icon>
                Course
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-list>
              <ion-menu-toggle auto-hide="false">
                <ion-item class="sub-item" [routerLink]="['/','dashboard']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    Course List 
                  </ion-label>
                </ion-item>
                <ion-item class="sub-item" [routerLink]="['/','auth']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    Add Course 
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>

          </mat-expansion-panel>
          <mat-expansion-panel  #example routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-expansion-panel-header class="mat-header-bg" [class.active-parent] = "example.expanded">
              <mat-panel-title>
                <mat-icon>auto_stories</mat-icon>
                Subject
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-list>
              <ion-menu-toggle auto-hide="false">
                <ion-item class="sub-item" [routerLink]="['/','dashboard']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    Subject List 
                  </ion-label>
                </ion-item>
                <ion-item class="sub-item" [routerLink]="['/','auth']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    Add Subject 
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>

          </mat-expansion-panel>
          <mat-expansion-panel  #example routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-expansion-panel-header class="mat-header-bg" [class.active-parent] = "example.expanded">
              <mat-panel-title>
                <mat-icon>description</mat-icon>
                Chapter
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-list>
              <ion-menu-toggle auto-hide="false">
                <ion-item class="sub-item" [routerLink]="['/','dashboard']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    Chapter List 
                  </ion-label>
                </ion-item>
                <ion-item class="sub-item" [routerLink]="['/','auth']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    Add Chapter 
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>

          </mat-expansion-panel>
          <mat-expansion-panel  #example routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-expansion-panel-header class="mat-header-bg" [class.active-parent] = "example.expanded">
              <mat-panel-title>
                <mat-icon>contact_support</mat-icon>
                Question Bank
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-list>
              <ion-menu-toggle auto-hide="false">
                <ion-item class="sub-item" [routerLink]="['/','dashboard']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    Question List 
                  </ion-label>
                </ion-item>
                <ion-item class="sub-item" [routerLink]="['/','auth']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    Add Question 
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>

          </mat-expansion-panel>
          <mat-expansion-panel  #example routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-expansion-panel-header class="mat-header-bg" [class.active-parent] = "example.expanded">
              <mat-panel-title>
                <mat-icon>quiz</mat-icon>
                Test
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-list>
              <ion-menu-toggle auto-hide="false">
                <ion-item class="sub-item" [routerLink]="['/','dashboard']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    Test List 
                  </ion-label>
                </ion-item>
                <ion-item class="sub-item" [routerLink]="['/','auth']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    Add Test 
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>

          </mat-expansion-panel>
          <mat-expansion-panel  #example routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-expansion-panel-header class="mat-header-bg" [class.active-parent] = "example.expanded">
              <mat-panel-title>
                <mat-icon>note_alt</mat-icon>
                Report
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-list>
              <ion-menu-toggle auto-hide="false">
                <ion-item class="sub-item" [routerLink]="['/','dashboard']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    Report List 
                  </ion-label>
                </ion-item>
                <ion-item class="sub-item" [routerLink]="['/','auth']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    Add Report 
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>

          </mat-expansion-panel>
          <mat-expansion-panel class="noSubMenu" #example routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-expansion-panel-header class="mat-header-bg" [class.active-parent] = "example.expanded">
              <mat-panel-title>
                <mat-icon>import_contacts</mat-icon>
                Homework
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel  #example routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-expansion-panel-header class="mat-header-bg" [class.active-parent] = "example.expanded">
              <mat-panel-title>
                <mat-icon>manage_accounts</mat-icon>
                User Management
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-list>
              <ion-menu-toggle auto-hide="false">
                <ion-item class="sub-item" [routerLink]="['/','user-list']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    User List 
                  </ion-label>
                </ion-item>
                <ion-item class="sub-item" [routerLink]="['/','add-user']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    Add User 
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>

          </mat-expansion-panel>
          <mat-expansion-panel  #example routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-expansion-panel-header class="mat-header-bg" [class.active-parent] = "example.expanded">
              <mat-panel-title>
                <mat-icon>badge</mat-icon>
                Role Management
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-list>
              <ion-menu-toggle auto-hide="false">
                <ion-item class="sub-item" [routerLink]="['/','dashboard']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    Role List 
                  </ion-label>
                </ion-item>
                <ion-item class="sub-item" [routerLink]="['/','auth']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    Add Role 
                  </ion-label>
                </ion-item>
                <ion-item class="sub-item" [routerLink]="['/','auth']" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                  <ion-label>
                    Role Permission
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>

          </mat-expansion-panel>
          <mat-expansion-panel class="noSubMenu" #example routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-expansion-panel-header class="mat-header-bg" [class.active-parent] = "example.expanded">
              <mat-panel-title>
                <mat-icon>campaign</mat-icon>
                Announcement
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel class="noSubMenu" #example routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-expansion-panel-header class="mat-header-bg" [class.active-parent] = "example.expanded">
              <mat-panel-title>
                <mat-icon>preview</mat-icon>
                Test Monitoring
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel class="noSubMenu" #example routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-expansion-panel-header class="mat-header-bg" [class.active-parent] = "example.expanded">
              <mat-panel-title>
                <mat-icon>format_color_fill</mat-icon>
                Mat Bucket
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
